body {
    margin: 0;
    padding: 0;
    background-color: #D8BFB3;
}

a:link{
    text-decoration: none;
    background-color: none;
    color: white;
}

a:visited{
    text-decoration: none;
    color: white;
}

main{
    width: 100%;
    height: 1000px;
    background-color: #D8BFB3;
    margin: 0px;
}

#header{
    background-color: #554545;
    height: 340px;
    width: 100%;
}

#espacamento{
    background-color: #554545;
    height: 20px;
    width: 100%;
    position: absolute;
}

#divlogo{
    background-color: #E4D6CF;
    height: 150px;
    width: 100%;
    display: flex;
}

#logo{
    margin-left: 509px;
    position: relative;
    padding-bottom: 30px;
}

#cadastrese{
    color: black;
}

#lowheader{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 40px;
}

#barradepesquisa{
    width: 1000px;
    height: 50px;
    background-color: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

#busca{
    border-radius: 35px;
    height: 60px;
    width: 600px;
    border: none;
    font-size: 22px;
    font-family: "Kaisei Decol", serif;
    color: #4A3A39; 
    background-color: #ffffff; 
}

#busca:focus{
    outline: none;
}

#busca::placeholder{
    color: #7F716F; 
    opacity: 1; 
}

#busca:focus::placeholder{
    opacity: 0;
}

#direita {
    background-color: none;
    height: 100px;
    width: 400px;
    display: flex;
    align-items: center;
    margin-top: 25px;
    margin-left: 300px;
    flex-direction: row;
}

#botoesesquerda {
    background-color: none;
    height: 100%;
    width: 330px;
    margin-left: 30px;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
}

.butaodireitaheader{
    background-color: #554545;
    height: 50px; 
    width: 300px;
    border-radius: 13px;
    border: none;
    font-family: "Kameron", serif;
    font-size: 30px;
    text-align: left;
}

.butaoesquerdaheader{
    background-color: #554545;
    height: 50px; 
    width: 300px;
    border-radius: 13px;
    border: none;
    font-family: "Kameron", serif;
    font-size: 30px;
    display: flex;
    justify-content: start;
    align-items: center;
    margin-left: 20px;
    margin-bottom: 15px;
}

.butao{
    background-color: #554545;
    height: 50px; 
    width: 250px;
    border-radius: 13px;
    border: none;
    font-family: "Kameron", serif;
    font-size: 30px;
    display: flex;
    align-items: center;
}

.bordas{
    position: relative;
}

#alinhamento{
    width: 100%;
    display: flex;
    background-color: none;
}

#oi{
    background-color: none;
    width: 80%;
    height: 300px;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#oi1{
    background-color: none;
    width: 1435px;
    margin-left: 30px;
    font-family: "Kameron", serif;
    font-size: 53px;
    margin-top: 10px;
}

#historia{
    font-family: 'Kavoon', serif;
}

#quem-somos {
    font-family: 'Kavoon', serif;
    color: #C27F12;
}

.txtdeco{
    font-size: 30px;
}

#rodape1{
    width: 100%;
    height: 500px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    place-items: center;
    gap: 10px;
}

#txtrodape1{
    color: black;
    font-family: "Kameron", serif;
    font-size: 40px;
}

#txtrodape1::first-line{
    font-family: "Kanit", sans-serif;
}
